snippet doc "TypeScript function documentation" b

  /**
   * ${1:Function description}
   *
   * @param ${2:param1} - ${3:Description for param1}
   * @param ${4:param2} - ${5:Description for param2}
   * @returns ${6:Return type description}
   */


snippet dsc "Jest describe block" b

  describe('${1:description}', () => {
    ${2}
  });

snippet dit "Jest it block" b

  it('should ${1:do something}', async () => {
    ${2:// TODO: Implement test}
  });
